*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#111;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 50px;
background:linear-gradient(90deg,#ff512f,#dd2476);
}

.logo{
font-size:22px;
font-weight:bold;
}

.links a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:500;
}

.links a:hover{
text-decoration:underline;
}

.hero{
height:90vh;
background:url("https://images.unsplash.com/photo-1498837167922-ddd27525d352") center/cover no-repeat;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:50px;
background:rgba(0,0,0,0.7);
padding:20px;
border-radius:10px;
}

.hero p{
margin:20px;
font-size:20px;
}

.btn{
padding:12px 25px;
background:#ff512f;
color:white;
text-decoration:none;
border-radius:25px;
transition:0.3s;
}

.btn:hover{
background:#dd2476;
transform:scale(1.1);
}

.featured{
padding:60px 40px;
text-align:center;
}

.food-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
margin-top:30px;
}

.food-card{
background:#1c1c1c;
border-radius:15px;
overflow:hidden;
transition:0.3s;
box-shadow:0 10px 20px rgba(0,0,0,0.4);
}

.food-card img{
width:100%;
height:200px;
object-fit:cover;
}

.food-card h3{
padding:15px;
}

.food-card:hover{
transform:translateY(-10px);
box-shadow:0 15px 30px rgba(0,0,0,0.7);
}

footer{
background:#000;
text-align:center;
padding:20px;
margin-top:40px;
font-size:14px;
}